<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something broke...</title>
</head>
<body>
    <h1>Oops! Something went wrong here...</h1>
    <img src='/500.gif' style='width:500px;'>
</body>
</html>