<%- include("templates/header") %> 
<div style="text-align: left;">
    <h1>Users:</h1>
</div>
<table>
    <thead>
        <tr>
        <th>Username (User Type)</th>
        </tr>
    </thead>
    <tbody>
        <% let i=0; %>
        <% for(i=0; i < users.length; i++) { %>
        <%- include('templates/users', {user: users[i]})  %> 
        <% } %> 
    </tbody>
</table>
<%- include("templates/footer") %> 