<%- include("templates/header") %> 
    <div>
        <h1>Users:</h1>
    </div>
    <ul>
        <% let i=0; %>
		<% for(i=0; i < users.length; i++) { %>
        <%- include('templates/users', {user: users[i]})  %> 
        <% } %> 
    </ul>
<%- include("templates/footer") %> 