<%- include("templates/header") %> 
  <h2>Email address:</h2>
  <form action='/submitEmail' method='post'>
      <input name='email' type='text' placeholder='email'>
      <button>Submit</button>
  </form>
  <% if (missing) { %>
      <br> email is required
  <% } %>  
<%- include("templates/footer") %> 