<div>
  <h1>Hello, ${req.session.username}!</h1>
  <p>Welcome to the Members area.</p>
  <div>
    <a href="/members"><button>Members Area</button></a>
    <a href="/logout"><button>Log Out</button></a>
  </div>
</div>