<%- include("templates/header") %> 
  <div>
    <h1>Hello, <%= username %>!</h1>
    <div>
      <a href="/members"><button class="btn btn-lg btn-info">Members Area</button></a>
      <a href="/logout"><button class="btn btn-lg btn-info">Log Out</button></a>
    </div>
  </div>
<%- include("templates/footer") %> 