<div>
  <h1>Welcome to the Home site!</h1>
  <p>Please sign up or log in</p>
  <div>
    <a href="/signup"><button>Sign Up</button></a>
    <a href="/login"><button>Log In</button></a>
  </div>
</div>