<%- include("templates/header") %> 
  <div>
    <h1>Hello, <%= username %>!</h1>
    <div>
      <a href="/members"><button>Members Area</button></a>
      <a href="/logout"><button>Log Out</button></a>
    </div>
  </div>
<%- include("templates/footer") %> 