<h2>Log In</h2>
<form action='/loggingin' method='post'>
  <input type='email' name='email' placeholder='Email'/>
  <br>
  <input name='password' type='password' placeholder='password'>
  <br>
  <button>Submit</button>
</form>
<br>
<a href="/"><button>Return Home</button></a>