<%- include("templates/header") %> 
<div class="form-signin w-100 m-auto">
  <h2>Log In</h2>
  <form action='/loggingin' method='post'>
    <div class="form-floating">
      <input id="floatingInput" class="form-control" type='email' name='email' placeholder='Email'/>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input id="floatingPassword" class="form-control" type='password' name='password' placeholder='Email'/>
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary">Submit</button>
  </form>
</div>
<%- include("templates/footer") %> 