  </div>
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top fixed-bottom">
    <div class="col-md-4 d-flex align-items-center">
      <p class="mb-3 mb-md-0 text-body-secondary">2023 COMP2537 Assignment</p>
    </div>
  </footer>
</body>
</html>