<tr>
  <td><%= user.username %>(<%= user.user_type %>)</td>
  <td>
    <form action="/admin" method="POST">
      <input type="hidden" name="username" value="<%= user.username %>">
      <input type="hidden" name="user_type" value="admin">
      <button class="btn btn-info" type="submit">Promote to Admin</button>
    </form>
  </td>
  <td>
    <form action="/admin" method="POST">
      <input type="hidden" name="username" value="<%= user.username %>">
      <input type="hidden" name="user_type" value="user">
      <button class="btn btn-danger" type="submit">Demote to User</button>
    </form>
  </td>
</tr>
 